<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns:android="http://schemas.android.com/apk/res/android" android-versionCode="1" ios-CFBundleVersion="1" version="0.0.1" id="com.studiocation.seabattle"  >
	<name>Sea Battle</name>
	<description></description>
	<author>Studio Cation</author>
	<content src="index.html"/>

	<preference name="android-build-tool" value="gradle" />

	<!--<platform name="android" >
		<allow-intent href="http://*/*"/>
		<allow-intent href="https://*/*"/>
		<allow-intent href="tel:*"/>
		<allow-intent href="sms:*"/>
		<allow-intent href="mailto:*"/>
		<allow-intent href="geo:*"/>
		<allow-intent href="market:*"/>
		<access origin="*"/>
	</platform>
	
	<platform name="ios" >
		<allow-intent href="http://*/*"/>
		<allow-intent href="https://*/*"/>
		<allow-intent href="tel:*"/>
		<allow-intent href="sms:*"/>
		<allow-intent href="mailto:*"/>
		<allow-intent href="geo:*"/>
		<allow-intent href="itms:*"/>
		<allow-intent href="itms-apps:*"/>
		<access origin="*"/>
	</platform>-->

	<preference name="phonegap-version" 		value="cli-7.1.0" />
	<preference name="xwalkMultipleApk" 		value="false" />
	
	<plugin name="cordova-plugin-globalization" 	source="npm" spec="1.11.0" />

	<plugin name="cordova-plugin-statusbar" 		source="npm" spec="2.4.2"/>
	<plugin name="cordova-plugin-device" 			source="npm" spec="2.0.2"/>
	<plugin name="cordova-plugin-splashscreen" 		source="npm" spec="5.0.2"/>
	<plugin name="cordova-plugin-powermanagement" 	source="npm" spec="1.0.5"/>

	<platform  name="ios">
		<preference name="AutoHideSplashScreen" value="true"/>
		<preference name="FadeSplashScreen" value="false"/>
		<preference name="FadeSplashScreenDuration" value="2"/>
		<preference name="ShowSplashScreenSpinner" value="false"/>

		<preference name="StatusBarOverlaysWebView" value="false"/>
		<preference name="StatusBarBackgroundColor" value="#000000"/>
		<preference name="StatusBarStyle" value="lightcontent"/>
	</platform>

	<platform  name="android">
		<preference name="SplashMaintainAspectRatio" value="false"/>
		<preference name="Orientation" value="sensorLandscape" />
		<preference name="Fullscreen" value="true" />
	</platform>

	<preference  name="xwalkCommandLine" value="--disable-pull-to-refresh-effect --ignore-gpu-blacklist"/>

	<platform name="ios" >
		<preference name="exit-on-suspend" 		value="false"/>
		<preference name="deployment-target" 	value="8.0"/>
		<preference name="ios-configuration" 	value="adhoc"/>
		<preference name="Fullscreen" 			value="true"/>
		<preference name="Orientation" 			value="landscape"/>
	</platform>

	<platform name="android" >
		<preference name="AndroidLaunchMode" value="singleTop"/>
		<preference name="android-minSdkVersion" value="27" />	
		<preference name="android-installLocation" 		value="auto"/>
		<preference name="Fullscreen" 					value="true"/>
		<preference name="Orientation" 					value="landscape"/>
		<preference name="android-signed" 				value="true"/>
		<preference name="AndroidLaunchMode" 			value="singleTop"/>
	</platform>

	<splash platform="ios" src="package-assets/ss_320x480.png" 		width="320" 	height="480" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_640x960.png" 		width="640" 	height="960" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_640x1136.png" 	width="640" 	height="1136" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_750x1334.png" 	width="750" 	height="1334" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_768x1024.png" 	width="768" 	height="1024" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_1242x2208.png" 	width="1242" 	height="2208" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_1536x2048.png" 	width="1536" 	height="2048" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_2048x2732.png" 	width="2048" 	height="2732" orientation="portrait"/>
	<splash platform="ios" src="package-assets/ss_1024x768.png" 	width="1024" 	height="768" orientation="landscape"/>
	<splash platform="ios" src="package-assets/ss_1334x750.png" 	width="1334" 	height="750" orientation="landscape"/>
	<splash platform="ios" src="package-assets/ss_2048x1536.png" 	width="2048" 	height="1536" orientation="landscape"/>
	<splash platform="ios" src="package-assets/ss_2208x1242.png" 	width="2208" 	height="1242" orientation="landscape"/>
	<splash platform="ios" src="package-assets/ss_2732x2048.png" 	width="2732" 	height="2048" orientation="landscape"/>

	<splash platform="android" src="package-assets/ss_426x320.png" density="ldpi" 	width="426" height="320" orientation="landscape"/>
	<splash platform="android" src="package-assets/ss_470x320.png" density="mdpi" 	width="470" height="320" orientation="landscape"/>
	<splash platform="android" src="package-assets/ss_640x480.png" density="hdpi" 	width="640" height="480" orientation="landscape"/>
	<splash platform="android" src="package-assets/ss_960x720.png" density="xhdpi" 	width="960" height="720" orientation="landscape"/>
		
	<icon platform="ios" src="package-assets/ios_50x50.png" 	width="50" 	height="50"/>
	<icon platform="ios" src="package-assets/ios_29x29.png" 	width="29" 	height="29"/>
	<icon platform="ios" src="package-assets/ios_58x58.png" 	width="58" 	height="58"/>
	<icon platform="ios" src="package-assets/ios_87x87.png" 	width="87" 	height="87"/>
	<icon platform="ios" src="package-assets/ios_60x60.png" 	width="60" 	height="60"/>
	<icon platform="ios" src="package-assets/ios_120x120.png" 	width="120" height="120"/>
	<icon platform="ios" src="package-assets/ios_180x180.png" 	width="180" height="180"/>
	<icon platform="ios" src="package-assets/ios_76x76.png" 	width="76" 	height="76"/>
	<icon platform="ios" src="package-assets/ios_152x152.png" 	width="152" height="152"/>
	<icon platform="ios" src="package-assets/ios_100x100.png" 	width="100" height="100"/>
	<icon platform="ios" src="package-assets/ios_40x40.png" 	width="40" 	height="40"/>
	<icon platform="ios" src="package-assets/ios_80x80.png" 	width="80" 	height="80"/>
	<icon platform="ios" src="package-assets/ios_57x57.png" 	width="57" 	height="57"/>
	<icon platform="ios" src="package-assets/ios_114x114.png" 	width="114" height="114"/>
	<icon platform="ios" src="package-assets/ios_167x167.png" 	width="167" height="167"/>
	<icon platform="ios" src="package-assets/ios_72x72.png" 	width="72" 	height="72"/>
	<icon platform="ios" src="package-assets/ios_144x144.png" 	width="144" height="144"/>
	<icon platform="ios" src="package-assets/ios_1024x1024.png" width="1024" height="1024"/>

	<icon platform="android" src="package-assets/android_36x36.png" density="ldpi" 	width="36" height="36"/>
	<icon platform="android" src="package-assets/android_48x48.png" density="mdpi" 	width="48" height="48"/>
	<icon platform="android" src="package-assets/android_72x72.png" density="hdpi" 	width="72" height="72"/>
	<icon platform="android" src="package-assets/android_96x96.png" density="xhdpi" width="96" height="96"/>

	<config-file platform="android" parent="/manifest/application" mode="merge"> 
		<activity android:launchMode="singleTop" />
	</config-file>
	
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
</widget>
